VITE_API_URL=https://node-app-131265199003.us-west1.run.app/api
backup_api_url=https://agriconnectbackend-qtx3.onrender.com/api
# For Android phones on the same Wi-Fi during local dev, use your computer IP:
# VITE_API_URL=http://192.168.0.x:3000/api
VITE_MOBILE_APP_URL=https://expo.dev/accounts/hackere/projects/mobile/builds/926c3199-db03-49ed-a1ba-f3d52448adb2
